[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
celery = {extras = ["redis"], version = "*"}
python-dotenv = "*"
pillow = "*"
flask-cors = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
